body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1300px;
    padding: 0;
    margin: auto;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;
}
header{
    background-image:url(./img/Leaf.png),url(./img/Pasta.png),url(./img/Tomato.png),url(./img/Leaf2.png),url(./img/RectangleLeft.png), url(./img/RectangleRight.png);
    background-position: 100px 170px,700px 170px,700px 700px,1250px 680px,right bottom, left top;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    height: 825px;
    width: 100%;
    margin: auto;
}
.number{
    display: flex;
    align-items: center
}
.number-text{
    font-size: 10px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p{
    margin: 0;
}
.tfnum{
    font-size: 18px;
}
.num-img{
    display: inline-block;
    height: 60px;
    width: 35px;
}
.nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.list-item{
    margin-left: 80px;
}
li{
    list-style-type: none;
}
.list-item a{
    text-decoration: none;
    color: black;
}
.list-item a:hover{
    color: rgb(255, 255, 255);
    -moz-text-shadow:0 0 10px rgb(250, 245, 245);
    -webkit-text-shadow:0 0 10px rgb(255, 255, 255);
    text-shadow:0 0 10px rgb(0, 0, 0);
}
nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
}
ul{
    padding: 0;
}
.content{
    display: flex;
    position: relative;
}
.content-image{
    position: absolute;
    margin-left: 650px;
}
.content-text{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.first{
    margin: 0;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.second{
    margin: 10px 0 10px 0;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 300;
}
.content-text-three{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}
.text-in{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.texs-in-first{
    font-size: 18px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    padding-right: 20px;
    padding-top: 10px;
}
.text-in-second{
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
}
.plate{
    margin-top: 40px;
}
.btn{
    margin-top: 40px;
    justify-content: center;
}
.main-btn{
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: transparent;
    border: 2px solid black;
}
.main-btn:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background: black;
}
.side-spaghetti{
    margin-top: -70px;
}
.left{
    justify-content: flex-end;
}
.head-text{
    text-align: center;
    margin-top: 70px;
}
.head-text-large{
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 200;
    margin-bottom: 10px;
}
.head-text-small{
    font-size: 16px;
    width: 1100px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.group_1 {
    background-image: url(./img/Rectangle.png);
    background-size: 1300px 100px;
    background-position: bottom 350px center;

}
.card{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.card-content {
  width: 33%;
}
.card-image{
    display: inline-block;
    width: 450px;
    height: 450px;
}

figcaption{
    text-align: center;
    max-width: 400px; 
    margin: auto;
}
.large .small{
    margin-top: 20px;
}
.large{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.small{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
}
.cont{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 40px;
    border: none;
    background-color: yellow;
}
.cont:hover{
    background-color: black;
    color: #fff;
}
.head-group2-text{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 150px;
}
.head-group2-text-small{
    font-size: 16px;
    width: 1100px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.head-group2-text-bold{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.head-text-large{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.head-group2-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-cont-act{
    position: absolute;
    left: 24.5%;
    top: 2020px;
} 
.dot-selector{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.dot{
    height: 17px;
    width: 17px;
    background-color: gray;
    border-radius: 100%;
    margin-left: 5px;
}
.dot-active{
    height: 17px;
    width: 17px;
    background-color: rgb(255, 230, 0);
    border-radius: 100%;
    margin-left: 5px;
}
.group3-images{
    margin-top: 150px;
    display: flex;
}
.image-left{
    position: relative;
}
.img-text-left{
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#fff;
    width: 70%;
}
.image-right-top{
    position: relative;
}
.image-right-bottom{
    position: relative;
}
.img-text-right-top{
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#fff;
    width: 50%;
}
.img-text-right-bot{
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#fff;
    width: 50%;
}
.image-right{
    margin-left: 32px;
}
.image-right-top{
    margin-bottom: 32px;
}
.group4-text{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}
.group4-cont-input{
    display: flex;
    justify-content: center;
}
#name, #data, #people, #emale, #time{
    height: 40px;
    width: 300px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.group4-left{
    margin-right: 10px;
}
.group4-right{
    margin-left: 10px;
}
.group4-btn{
    height: 45px;
    width: 325px;
    background: yellow;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: none;
    padding: 0;
}
.group4-btn:hover{
    color: rgb(255, 255, 255);
    background: black;
}
button{
    cursor: pointer;
}
footer{
    margin-top: 100px;
    background-image: url(img/BGImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 570px;
}
.footer-cont{
    padding-top: 50px;
}
.footer-cont-left{
    width: 50%;
}
.footer-text{
    width: 70%;
    margin-top: 50px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.footer-text-copyrite{
    width: 70%;
    margin-top: 200px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.footer-cont{
    display: flex;
}
.figure-top-icon{
    display: flex;
}
.cont-right-top{
    padding-top: 100px;
}
.figcaption-top-text{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-left: 15px;
}
.cont-right-bottom{
    position: absolute;
    display: flex;
    bottom: 0px;
    left:400px;
}
.cont-right-bottom img{
    margin-left: 5px;
}
.footer-cont-right{
    position: relative;
}

/*hamburger menu start*/
#menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 30;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #00000086;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 10;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #0d0d0d;
    color: #fff;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .burger-div{
    margin: 200px 20px 0 20px;
    background-color: rgb(255, 208, 0);
    border-radius: 20px;
  }
/*hamburger menu end*/ 
.hamburger-menu{
    display: none;
}



@media(min-width: 780px) and (max-width:960px){
    .wrapper{
        width: 780px;
        padding: 0;
        margin: auto;
    }
    .content{
        justify-content: center;
    }
    .content-image{
        display: none;
    }
    .nav{
        justify-content: center;
    }
    .container1{
        justify-content: space-around;
    }
    .card-image{
        width: 200px;
        height: 200px;
    }
    .head-text-small{
        width: 70%;
    }
    .large{
        font-size: 13px;
    }
    .small{
        font-size: 10px;
    }
    .cont{
        font-size: 12px;
    }
    .head-group2-text-small{
        width: 70%;
    }
    .photo-cont{
        width:204px;
        height: 151px;
    }
    .head-group2-content{
        justify-content: space-around;
    }
    .photo-cont-act{
        width: 298px;
        height: 231px;
        top:1860px;
        left:240px;
    }
    .group3-images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-left{
        margin-left: 31px;
    }
    .image-right-top{
        margin-bottom: 0;
    }
    .cont-right-bottom{
        left: 100px;
    }
    .footer-cont-left{
        margin-left: 20px;
    }
}  

@media(min-width:350px) and (max-width:780px){
    .wrapper{
        width: 350px;
        padding: 0;
        margin: auto;
    }
    .logo a img{
        width: 151px;
        height: 37px;
    }
    .number-image img{
        width: 15px;
        height: 20px;
    }
    .number-text{
        font-size: 10px;
    }
    .tfnum{
        font-size: 10px;
    }
    .container1{
        justify-content: space-around;
    }
    .hamburger-menu{
        display: block;
    }
    .nav{
        display: none;
    }
    .side-spaghetti{
        width: 150px;
        height: 350px;
        margin-top: -25px;
    }
    .head-text-large{
        font-size: 30px;
    }
    .head-text-small{
        width: 70%;
        font-size: 10px;
    }
    .card-image{
        width: 200px;
        height: 200px;
        margin-left: 35px;
    }
    .card-content{
        display: contents;
    }
    .card{
        flex-wrap: wrap;
    }
    .large{
        font-size: 15px;
    }
    .small{
        font-size: 10px;
    }
    .cont{
        font-size: 15px;
    }
    .photo-cont{
        display: none;
    }
    .photo-cont-act{
        width: 340px;
        height: 230px;
        display: block;
        position: static;
    }
    .head-group2-text{
        margin-top: 50px;
    }
    .head-group2-text-small{
        font-size: 10px;
        width: 70%;
    }
    .dot{
        width: 7px;
        height: 7px;
    }
    .dot-active{
        width: 7px;
        height: 7px;
    }
    .dot-selector{
        margin-top: 30px;
    }
    .image-left img{
        width: 300px;
        height: 100px;
    }
    .image-right img{
        width: 300px;
        height: 100px;
    }
    .group3-images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-text-left{
        font-size: 23px;
    }
    .img-text-right-top{
        font-size: 23px;
    }
    .img-text-right-bot{
        font-size: 23px;
    }
    .image-right{
        margin: 0;
    }
    .image-right-top{
        margin: 0;
    }
    .group4-cont-input{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .group4-right{
        margin-left: 0;
    }
    .group4-left{
        margin-right: 0;
    }
    form{
        width: 250px;
    }
    .group4-btn{
        width: 200px;
    }
    .logo2{
        width: 100px;
        height: 15px;
    }
    .cont-right-bottom{
        top:100px;
        left:60px;
        width: 100px;
        height: 15px;
    }
    .figure-top-icon{
        width: 90px;
        height: 15px;
    }
    footer{
        height: 270px;
    }
    .cont-right-top{
        margin: 0;
        padding: 0;
    }
    .figcaption-top-text{
        font-size: 7px;
    }
    .footer-text{
        font-size: 7px;
    }
    .footer-text-copyrite{
        margin-top: 10px;
        font-size: 7px;
    }
    .plate{
        display: none;
    }
}

